.lang {
  height: 30px;
  width: 30px;
}

.map {
  height: 300px;
}

.product-image {
  width: 100px;
}

.active-category {
  font-weight: bold;
  text-decoration: underline;
}

.active-product {
  border: 1px solid green !important;
}

.inactive-product {
  border: 1px solid red !important;
}

.carousel {
  width: 500px;
  margin: auto;
}