.cartProduct {
  display: flex; /* vasakult paremale */
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin: 0 10%;
  padding: 10px 0;
  /* 
    vh/vw - lehest %
    % - parent element
    px - piksel
    0
          ü     p    a    v
  margin: 10px 20px 5px 6px;
          ü-a   v-p
  margin: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  */
}

.productImg {
  width: 200px;
}

.productName {
  width: 300px;
}

.productPrice {
  width: 70px;
}

.quantityControls {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.productButton {
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0.7;
  transition: .5s;
}

.productButton:hover {
  opacity: 1.0;
  transition: .5s;
}

.totalSum {
  width: 90px;
}

.ferrariButton {
  background-color: #ff2800;
}

.disabled {
  opacity: 0.5;
}

.productButton:hover.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 900px) {
  .productImg {
    width: 150px;
  }
  .productName {
    width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .productName {
    width: 150px;
  }
}